body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF; /* Change to blue */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007BFF; /* Change to blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#content {
    padding: 20px;
    margin-bottom: 60px; /* Ensure content is not hidden behind the footer */
}

h1, h2, h3 {
    color: #333;
}

pre {
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

#taskbar {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#taskbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#taskbar a:hover {
    background-color: #575757;
}
